
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jump page</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSd1WMKOX-AlzLaYSyGIvlI_oHfOQJixAjgvBoY2V2MQMTkUdw/viewform";
        });
    </script>
</head>
</html>
